<!DOCTYPE html><html lang="en">
<head>
    <meta charset="utf-8">
    <title>AZ Jewels</title>
	<meta name="keywords" content="jewelry, horology, luxury goods, dictionary, translations">
    <link rel="icon" href="/media/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
	<script src="/js/myFuncs.js"></script>
	<script>redirectLang();</script>
</head>
<body>
	<div class="page-wrap">

    <div style="max-width:900px;padding-top:40px;margin:0 auto;text-align:center">
        <span class="title"><a class="titletext" href="/"><img src="/media/logo.png" height="185" width="185"></a></span>
        <h2 style="margin-top:0px">{{getString "header"}}</h2>
    </div>
    <form onsubmit="searchWordIfPresent();return false;" class="pure-form" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 10px;text-align:center">
        <input id="search-text" class="clearable" autofocus type="search" name="q" placeholder="{{getString "search_word"}}..." style="width:100%;max-width:600px;outline:0">
	
	<select id="select" class="selection" style="padding-left:25px; margin-left:10px;">
	{{$langs := .Languages}}
	{{range $lang1 := $langs}}
	  {{if eq $lang1.Tag "eng" "fre" "ita" "ger" "spa"}}
	  <optgroup label="{{$lang1.Language}}">
		{{range $lang2 := $langs}}
			{{if eq $lang2.Tag "eng" "fre" "ita" "ger" "spa"}}
			{{if ne $lang1.Tag $lang2.Tag}}
			<option value="{{$lang1.Tag}}{{$lang2.Tag}}">{{$lang1.Language}}-{{$lang2.Language}}</option>
			{{end}}
			{{end}}
		{{end}}	    
	  </optgroup>
	  {{end}}
	{{end}}
	</select>
    </form>
	
	
	<div id="container">
		{{if .Results}}
		    <div style="text-align:center">
			    {{with $x := index .Results 0}}
			    <h3>{{$x.Word}}</h3>
			    {{end}}
		
			    {{$fdescs := .FieldDescs}}
			    {{range $fieldindex, $field := .Fields}}
				    <p style="padding-top:2px; padding-bottom:2px"> <span title="{{index $fdescs $fieldindex}}">{{$field}}</span></p>
			    {{end}}
			</div>
			<table style="width:100%">
				<tbody>
					<!--<tr>
						<td colspan="3" title="Principal Translations" style="padding:5px"></td>
					</tr> -->
					<tr class="langHeader">
						<td>{{with $x := index .Results 0}}{{toUpper $x.Lang.Language}}</td><td></td><td>{{with $y:=index $x.Translations 0}}{{toUpper $y.Lang.Language}}{{end}}{{end}}</td>
					</tr>
					{{$worddesc := 1}}
					{{range $wordindex, $word := .Results}}
						{{range $tranindex, $tran := $word.Translations}}
							{{$worddesc := and $word.Description (eq $tranindex 0)}}
							<tr class="{{oddOrEven $wordindex}}">
								<td>{{if eq $tranindex 0}}<strong>{{$word.Word}}{{if $word.Locality}} ({{$word.Locality}}){{end}}</strong>{{if $word.Genre}} <i><font color="a9a9aa">{{$word.Genre}}</font></i>{{end}}{{end}}</td>
								<td>{{if $worddesc}}(<i>{{$word.Description}}</i>){{else}} {{if $tran.Description}}  <span class="todesc">(<i>{{$tran.Description}}</i>)</span>{{end}}{{end}}</td>
								<td><a style="color:#777" href="/search/{{$tran.Lang.Tag}}{{$word.Lang.Tag}}/{{$tran.Word}}">{{if or (not $worddesc) (not $tran.Description)}}{{$tran.Word}}{{if $tran.Locality}} ({{$tran.Locality}}){{end}}{{if $tran.Genre}} <i><font color="a9a9aa">{{$tran.Genre}}</font></i>{{end}}{{end}}</a></td>
							</tr>
							{{if and $worddesc $tran.Description}}
							<tr class="{{oddOrEven $wordindex}}">
								<td></td>
								<td><span class="todesc">(<i>{{$tran.Description}}</i>)</span></td>
								<td><a style="color:#777" href="/search/{{$tran.Lang.Tag}}{{$word.Lang.Tag}}/{{$tran.Word}}">{{$tran.Word}}{{if $tran.Locality}} ({{$tran.Locality}}){{end}}{{if $tran.Genre}} <i><font color="a9a9aa">{{$tran.Genre}}</font></i>{{end}}</a></td>
							</tr>
							{{end}}
						{{end}}
						{{if $word.Synonyms}}
						{{$maxsyn := len $word.Synonyms | dec}}
						{{$firsttrans := index $word.Translations 0}}
						<tr class="{{oddOrEven $wordindex}}">
								<td>{{getString "syns"}}:</td>
								<td>
								{{range $synindex, $syn := $word.Synonyms}}									
									<a style="color:#777" href="/search/{{$syn.Lang.Tag}}{{$firsttrans.Lang.Tag}}/{{$syn.Word}}">{{$syn.Word}}</a>{{if ne $synindex $maxsyn}},{{end}}
								{{end}}
								</td>
								<td></td>
						</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
		{{end}}		
	</div>

	<p id="notfoundText" style="margin:0 auto;text-align:center; display:none">{{getString "ops_word"}} <span id="notfoundWord"></span> {{getString "not_in_dictionary"}} (<span id="notfoundDictionary">blahblah</span>). <a id="notfoundSend" style="cursor: pointer;">{{getString "let_us_know"}}</a></p>
	<p id="thanks" style="margin:0 auto;text-align:center; display:none">{{getString "thanks_notification"}}</p>
    

	</div>

	<footer class="site-footer">
		<div style="padding-top:30px">			
			<a href="/about.html?lang={{.BaseLangTag}}"><span style="font-size: 0.9em;margin-right:40px">{{getString "about_us"}}</span></a>
			<a href="/terms.html?lang={{.BaseLangTag}}"><span style="font-size: 0.9em;margin-right:40px">{{getString "terms_short"}}</span></a>
			<select id="mainlang" class="selection" style="font-size: 0.9em">
				{{$base := .BaseLangTag}}
				{{range $lang := .Languages}}
					<option value="{{$lang.Tag}}" {{if eq $lang.Tag $base}}selected{{end}} >{{$lang.Language}}</option>  
				{{end}}
			</select>
        	</div>
		<div style="padding-top:20px">
			<a href="https://co.pinterest.com/azjewelslexicon/?eq=AZ%20JEWELS%20lexicon&etslf=4574"><img src="/media/pinterest.png" style="margin-right:40px" height="20" width="20"></a>
			<a href="https://www.instagram.com/azjewels.xyz/"><img src="/media/instagram.png" style="margin-right:40px" height="20" width="20"></a>
			<a href="https://www.linkedin.com/company/azjewels-xyz/"><img src="/media/linkedin.png" style="margin-right:10px" height="20" width="20"></a>
        	</div> 
	</footer>
	
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.auto-complete.js"></script>
    <script src="/js/mainLogic.js"></script>

</body>
</html>
