<!DOCTYPE html><html lang="en">
<head>
    <meta charset="utf-8">
    <title>AZ Jewels</title>
	<meta name="keywords" content="jewelry, horology, luxury goods, dictionary, translations">
    <link rel="icon" href="/media/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
	<script src="/js/myFuncs.js"></script>
	<script>redirectLang();</script>
</head>
<body>

    <div style="max-width:900px;padding-top:40px;margin:0 auto;text-align:center">
		<span class="title"><a class="titletext" href="/?lang={{.BaseLangTag}}"><img src="/media/logo.png" height="185" width="185"></a></span>
        <h2 style="margin-top:20px">{{getString "terms_long"}}</h2>
    </div>
    
	
	<div id="container-about">
		{{getHtml "terms_html"}}
	</div>

	<footer class="site-footer">
		<div style="padding-top:30px">			
			<a href="/about.html?lang={{.BaseLangTag}}"><span style="font-size: 0.9em;margin-right:40px">{{getString "about_us"}}</span></a>
			<a href="/terms.html?lang={{.BaseLangTag}}"><span style="font-size: 0.9em;margin-right:40px">{{getString "terms_short"}}</span></a>
			<select id="mainlang" class="selection" style="font-size: 0.9em">
				{{$base := .BaseLangTag}}
				{{range $lang := .Languages}}
					<option value="{{$lang.Tag}}" {{if eq $lang.Tag $base}}selected{{end}} >{{$lang.Language}}</option>  
				{{end}}
			</select>
        	</div>
		<div style="padding-top:20px">
			<a href="https://co.pinterest.com/azjewelslexicon/?eq=AZ%20JEWELS%20lexicon&etslf=4574"><img src="/media/pinterest.png" style="margin-right:40px" height="20" width="20"></a>
			<a href="https://www.instagram.com/azjewels.xyz/"><img src="/media/instagram.png" style="margin-right:40px" height="20" width="20"></a>
			<a href="https://www.linkedin.com/company/azjewels-xyz/"><img src="/media/linkedin.png" style="margin-right:10px" height="20" width="20"></a>
        	</div> 
	</footer>
	<script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.auto-complete.js"></script>
	<script src="/js/mainLogic.js"></script>
	
	
</body>
</html>
