body { margin: 0; padding: 0; border: 0; min-width: 320px; color: #777; height:100% }
html {height:100%; }
html, button, input, select, textarea, .pure-g [class *= "pure-u"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.02em; }
p, td { line-height: 1.5; }
ul { padding: 0 0 0 20px; }
th { background: #eee; white-space: nowrap; }
th, td { padding: 10px; text-align: left; vertical-align: top; font-size: .9em;}
td:first-child { white-space: nowrap; width: 1%;}
h1, h2, h3 { color: #4b4b4b; font-family: "Source Sans Pro", sans-serif; font-weight: 300; margin: 0 0 1.2em; }
h1 { font-size: 4.5em; color: #1f8dd6; margin: 0 0 .4em; }
h2 { font-size: 2em; color: #636363; }
h3 { font-size: 1.5em; color: #428000; margin: 0; padding:10px; font-weight:bold; }
h4 { font: bold 1em sans-serif; color: #636363; margin: 4em 0 1em; }
.title {color: #4b4b4b; font-family: "Source Sans Pro", sans-serif; font-weight: 300; margin: 0 0 1.2em; font-size: 4.5em; color: #1f8dd6;}
a { color: #4e99c7; text-decoration: none; }

p, pre { margin: 0 0 0.2em; padding:10px; font-style: italic; font-size: 0.9em;}
::selection { color: #fff; background: #328efd; }
::-moz-selection { color: #fff; background: #328efd; }
@media (max-width:480px) {
    h1 { font-size: 3em; }
    h2 { font-size: 1.8em; }
    h3 { font-size: 1.5em; }
    td:first-child { white-space: normal; }
}
.inline-code { padding: 1px 5px; background: #eee; border-radius: 2px; }
pre { padding: 15px 10px; font-size: .9em; color: #555; background: #edf3f8; }
pre i { color: #aaa; } /* comments */
pre b { font-weight: normal; color: #cf4b25; } /* strings */
pre em { color: #0c59e9; } /* numeric */
/* Pure CSS */
.pure-button { margin: 5px 0; text-decoration: none !important; }
.button-lg { margin: 5px 0; padding: .65em 1.6em; font-size: 105%; }
input[type="text"] { border-radius: 0 !important; }

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

.even {
	background-color: #fafafa;
	vertical-align: top;
}

.odd {
	vertical-align: top;
}

.todesc {
	float: right !important;
}

.langHeader {
	font-size: 1.1em;
	text-decoration: underline;
	font-weight:bold;
}

#container {
	max-width: 700px;
	margin: 0 auto;
	width: 70%;
}

#container-about {
	max-width: 800px;
	margin: 0 auto;
	width: 70%;
	text-align:justify; 
	padding-bottom:70px
}

#select {
	padding: 5px;
	height: 2.4em;
}

#notfoundWord { color:#FF0000;font-weight:bold;font-size:20; }

.clearable{
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 120px; 
}
.site-footer {
  text-align:center;
}


