body { margin: 0; padding: 0; border: 0; min-width: 320px; color: #777; height:100% }
html {height:100%; }
html, button, input, select, textarea, .pure-g [class *= "pure-u"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.02em; }
p, td { line-height: 1.5; }
ul { padding: 0 0 0 20px; }
th { background: #eee; white-space: nowrap; }
th, td { padding: 10px; text-align: left; vertical-align: top; font-size: .8em;}
tr td:first-child { width:20%; padding-left:20px}
tr td:last-child { width:20%; text-align: right; padding-right:20px}
h1, h2, h3 { color: #4b4b4b; font-family: "Source Sans Pro", sans-serif; font-weight: 300; margin: 0 0 1.2em; }
h1 { font-size: 4.5em; color: #1f8dd6; margin: 0 0 .4em; }
h2 { font-size: 1.4em; color: #636363; }
h3 { font-size: 1.2em; color: #ed6B06; margin: 0; padding:10px; }
h4 { font: bold 1em sans-serif; color: #636363; margin: 4em 0 1em; }
.title {font-family: "Source Sans Pro", sans-serif; font-weight: 300; font-size: 4.5em;}
.titletext {color: #ff4d4d;}
a { color: #009BA7; text-decoration: none; }
#container p {font-style: italic;}
p, pre { margin: 0 0 0.2em; padding:10px; font-size: 0.9em;}
::selection { color: #fff; background: #328efd; }
::-moz-selection { color: #fff; background: #328efd; }
@media (max-width:480px) {
    h1 { font-size: 3em; }
    h2 { font-size: 1.4em; }
    h3 { font-size: 1.5em; }
    td:first-child { white-space: normal; }
}
.inline-code { padding: 1px 5px; background: #eee; border-radius: 2px; }
pre { padding: 15px 10px; font-size: .9em; color: #555; background: #edf3f8; }
pre i { color: #aaa; } /* comments */
pre b { font-weight: normal; color: #cf4b25; } /* strings */
pre em { color: #0c59e9; } /* numeric */
/* Pure CSS */
.pure-button { margin: 5px 0; text-decoration: none !important; }
.button-lg { margin: 5px 0; padding: .65em 1.6em; font-size: 105%; }
input[type="text"] { border-radius: 0 !important; }

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

.even {
	background-color: #fafafa;
	vertical-align: top;
}

.odd {
	vertical-align: top;
}

.todesc {
	float: right !important;
	text-align: right;
}

.langHeader {
	font-size: 1em;
	text-decoration: underline;
	font-weight:bold;
}

#container {
	max-width: 700px;
	margin: 0 auto;
	width: 95%;
}

#container-about {
	max-width: 800px;
	margin: 0 auto;
	width: 95%;
	text-align:justify; 
	padding-bottom:70px
}

#select {
	padding: 5px;
	height: 2.4em;
}

#notfoundWord { color:#ed6B06;font-weight:bold;}

#search-text {
    padding-left: 35px;
}

.clearable{
  background-image: url(/media/loupe.jpg), url(/media/cross.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right -20px center;
  background-size: 32px 32px, 12px 12px;
}
.clearable.x  { background-position: left, right 10px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 120px; 
}
.site-footer {
  text-align:center;
}

.selection {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
   background: none;
   border: none;
   padding-left:20px;
   background: url(/media/arrow.png) no-repeat left;
   background-position: 5% 50%;
}

